body{
    text-align: center;
    margin: auto;
    
}


.header{
   text-align: center;
   
}

.navegation-links ul{
    text-align: center;
 }
 
 .navegation-links ul > li{
    display: inline-block;
    margin-right: 65px;
}

.navegation-links li:hover{
    font-weight: bold;
}

.content{
    display: block;
    margin:0px 40px 0px 40px;
}

.main-article{
    
}

.first-section{

}

.second-section{

}

.third-section{

}

.image1, .image2, .image3{
    width: 50%;
}

.tabela{
    width: 50%;
    margin-left:450px
    
}

.table th, td{
    border: 1px solid black; 

}

.references h3{
    text-align: center;
    
}

.references ul, li{
    text-align: center;
    list-style-position: inside;
    margin-right: 25px;
}


.footnote{

}